{$SITE_ADDRESS:http://localhost} {
  reverse_proxy site:4173
}

{$APP_ADDRESS:http://app.localhost} {
  handle_path /api/* {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:5173
  }
}

{$ADMIN_ADDRESS:http://admin.localhost} {
  handle_path /api/* {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy admin:4174
  }
}
